<div data-id="<%= blog.id %>" id="article">
  <h2 class="text-4xl font-bold mb-4"><%= blog.article_title%></h2>

  <img src="/images/<%= blog.article_image%>" class="w-full mb-20" />

  <p class="mb-40"><%= blog.article_content%></p>
<div class="mb-10">

  <%- include('stars')%> <%- include('commentForm')%>
</div>

  <div class="flex flex-wrap gap-4">
    <% for(comment of comments) { %>
    <div class="p-5 bg-white shadow-md mx-5 w-full">
      <h3 class="text-lg font-bold">
        <%= comment.user%>
      </h3>
      <p>
        <%= comment.commenter%>
      </p>
    </div>
    <%}%> <%- include('register')%>
  </div>
</div>
